
    @if (target && matches.length) {
      <div
        class="autocomplete-menu"
        [style.left.px]="position.left"
        [style.top.px]="position.top"
        [style.width.px]="position.width"
      >
        @for (item of matches; track item; let i = $index) {
          <ion-button
            type="button"
            class="autocomplete-option"
            [class.autocomplete-activeOption]="i === activeIndex"
            (mouseenter)="activeIndex = i"
            (mousedown)="apply(item, $event)"
          >
            <svg class="autocomplete-historyIcon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span class="autocomplete-optionText">{{ item }}</span>
          </ion-button>
        }
      </div>
    }
  