
    <div class="managed-options-select-style-001-b17d39">
      <select
        class="managed-options-select-style-002-1121d0"
        [class.managed-select-alignLeft]="textAlign === 'left'"
        [class.managed-select-alignRight]="textAlign === 'right'"
        [value]="value"
        [required]="required"
        (change)="handleChange($event)"
      >
        <option
          *ngFor="let option of managedOptions; let index = index"
          [value]="option.value"
        >
          @if (colorCoding) {
            {{ option.colorDot || COLOR_DOTS[index % COLOR_DOTS.length] }}
            {{ option.label }}
          } @else {
            {{ option.label }}
          }
        </option>
      </select>

      @if (canManageOptions) {
        <button
          type="button"
          aria-label="Add option"
          class="managed-options-select-style-003-44f176"
          (click)="addOption()"
        >
          <ion-icon name="add"></ion-icon>
        </button>

        <button
          type="button"
          aria-label="Edit selected option"
          class="managed-options-select-style-004-2f00e3"
          (click)="editOption()"
        >
          <ion-icon name="create"></ion-icon>
        </button>

        <div class="managed-options-select-style-005-d733f0">
          @if (colorCoding) {
            <button
              type="button"
              aria-label="Choose selected color"
              class="managed-options-select-style-006-83e889"
              (click)="showPalette = !showPalette"
            >
              <ion-icon name="color-palette"></ion-icon>
            </button>
            @if (showPalette) {
              <div class="managed-options-select-style-007-c02c75">
                @for (dot of COLOR_DOTS; track dot) {
                  <button
                    type="button"
                    [attr.aria-label]="'Use ' + dot + ' color'"
                    class="managed-options-select-style-008-126496"
                    (click)="setSelectedColor(dot)"
                  >
                    {{ dot }}
                  </button>
                }
              </div>
            }
          }
        </div>

        <button
          type="button"
          aria-label="Delete selected option"
          class="managed-options-select-style-009-ff7178"
          [disabled]="managedOptions.length <= 1"
          (click)="deleteOption()"
        >
          <ion-icon name="trash"></ion-icon>
        </button>
      }
    </div>
  